

body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
    /*float: left; 
    padding: 33px 20px;*/
}

.header {
    background-color: #f7f2b4;
    height: 90px;

}

.header-logo {
    font-size: 30px;
    float: left;
    padding: 20px 40px;
}

.header-list li{
    float: left;
    padding: 33px 20px; /*前のが上下，後ろのが左右 */
  }
  
.main {
    background-color: #bdf7f1;
    height: 600px;
}

.footer {
    background-color: #ceccf3;
    height: 270px;
}
