
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
.header {
  background-color:#26d0c9;
  height:90px;
}

.header-logo {
  font-size:36px;
  float:left;
  padding-left:40px;
  padding-top:20px;
  color:#fff;
}

.header-list li{
  font-size:16px;
  float:left;
  padding-left:45px;
  padding-top:33px;
  color:#fff;
}

.container h1{
  font-size: 140px;
  background-color:white;
  padding-top:100px;
  padding-left:80px;
  white-space: nowrap;
}

.container span {
  color:#ff4a4a;
}

.container h2 {
  font-size:60px;
  margin-left:80px;
}

.section-title{
  font-size:28px;
  border-bottom:2px solid #dee7ec;
  margin:80px;
  padding-bottom:15px;
 }
 
 .contents{
   height:500px;
 }
 
 .contents-item{
  float:left;
  /*margin-right:40px;*/
  padding-left:80px;
  
 }
 
 .contents-item p{
   font-size:24px;
   padding-top:30px;
   white-space: nowrap;
 }
